# Rust
/target

# App specific
/weeklore_reports
/archive
/archive_refetch
/config.yaml
/archive_index.csv
*.db-*
*.db
/scratch
/tarpaulin-report.html
/cobertura.xml
/cheese*
*.jsonl
/chrome-profile/
/test/
