# Rust
/target

# App specific
/weeklore_reports
/archive
/rebuilt_archive
/test_archive
/cheese/*
/config.yaml
/archive_index.csv
/*.db.*
/*.db
/scratch
/tarpaulin-report.html
/cobertura.xml
.fastembed_cache/
onnxruntime-linux-x64*
