# Rust
/target

# App specific
/weeklore_reports
/archive
/test_archive
/config.yaml
/archive_index.csv
/crawler.db*
/scratch
/tarpaulin-report.html
/cobertura.xml
.fastembed_cache/
onnxruntime-linux-x64*
